@model ProjetoLojaCel.Models.ModelLogin

@{

    ViewBag.Title = "Home Page";

    Layout = "";

}


@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/Css/login.css" rel="stylesheet" type="text/css" />
    <scrit type="text/javascript" src="~/JavaScript/js.js"></scrit>
    <!------ Include the above in your HEAD tag ---------->

    <!--
        you can substitue the span of reauth email for a input with the email and
        include the remember me checkbox
        -->
    <div class="container">
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <label> Usuário: </label>
                @Html.EditorFor(x => x.usuario, new
                {
                htmlAttributes = new { id = "txtUsuario", senha = "txtUsuario", type = "text", @class = "form-control", placeholder = "Digite o nome de usuário", required = "required" }
                })
                @Html.ValidationMessageFor(x => x.usuario, "", new { @class = "text-danger" })
                <br/>
                <label> Senha: </label>
                @Html.EditorFor(x => x.senha, new
                {
                htmlAttributes = new { id = "inputPassword", senha = "txtSenha", type = "password", @class = "form-control", placeholder = "Digite a senha", required = "required" }
                })
                @Html.ValidationMessageFor(x => x.senha, "", new { @class = "text-danger" })
                <br/>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
                <br/>
            </form><!-- /form -->
            @*Criar actionLink*@
            <table>
                <tr>
                    <td><a href="#" class="forgot-password">@Html.ActionLink("Esqueceu a Senha?", "EsqueceuSenha", "Login")</a></td>
                    <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                    <td><a href="#" class="forgot-password">@Html.ActionLink("Cadastre-se", "Cadastro", "Login")</a></td>
                </tr>
            </table>
            <br/>
            <div>
                <h5> @ViewBag.msgLogar </h5>
            </div>            
        </div><!-- /card-container -->
    </div><!-- /container -->
}

